{% extends 'main/base.html' %}

{% load bootstrap4 %}


{% block title %}
    {{ ad.title }} - {{ ad.rubric.name }}
{% endblock %}

{% block content %}
    <div class="container-fluid mt-3">
        <div class="row">
            {% if ad.image %}
                <div class="col-md-auto">
                    <style>
                        img.main-image {
                            width: 600px;
                        }
                    </style>
                    <img class="main-image" src="{{ ad.image.url }}">
                </div>
            {% endif %}
            <div class="col">
                <h2>{{ ad.title }}</h2>
                <p>{{ ad.content }}</p>
                <p class="font-weight-bolt">{{ ad.price }} cr.</p>
                <p class="text-right font-italic">Ad added {{ ad.created }}</p>
            </div>
        </div>
    </div>
    {% if images %}
        {#                <div class="d-flex justify-content-between flex-wrap mt-5">#}
        <div class="d-flex  flex-wrap mt-5">
            {% for image in images %}
                <div>
                    <style>
                        img.additional-image {
                            width: 350px;
                        }
                    </style>
                    <img class="additional-image" src="{{ image.image.url }} ">
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <p>
        <a href="{% url 'main:by_rubric' pk=ad.rubric.pk %}{{ all }}">Back</a>
    </p>
    <h4 class="mt-5">New comment</h4>
    <form method="post">
        {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    {% buttons submit='Save' %}{% endbuttons %}
    </form>
    {% if comments %}
        <div class="mt-5">
            {% for comment in comments %}
                <div class="my-2 p-2 border">
                    <h5>{{ comment.author }}</h5>
                    <p>{{ comment.content }}</p>
                    <p class="text-right font-italic">{{ comment.created }}</p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}