{% extends 'main/base.html' %}


{% block title %}
    {{ ad.title }} - {{ ad.rubric.name }}
{% endblock %}


{% block content %}
    <div class="container-fluid mt-3">
        <div class="row">
            {% if ad.image %}
                <div class="col-md-auto">
                    <style>
                        img.main-image {
                            width: 600px;
                        }
                    </style>
                    <img class="main-image" src="{{ ad.image.url }}">
                </div>
            {% endif %}
            <div class="col">
                <h2>{{ ad.title }}</h2>
                <p>{{ ad.content }}</p>
                <p class="font-weight-bolt">{{ ad.price }} cr.</p>
                <p class="text-right font-italic">Ad added {{ ad.created }}</p>
            </div>
        </div>
    </div>
    {% if images %}
        {#                <div class="d-flex justify-content-between flex-wrap mt-5">#}
        <div class="d-flex  flex-wrap mt-5">
            {% for image in images %}
                <div>
                    <style>
                        img.additional-image {
                            width: 350px;
                        }
                    </style>
                    <img class="additional-image" src="{{ image.image.url }} ">
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <p>
        <a href="{% url 'main:profile' %}{{ all }}">Back</a>
    </p>
{% endblock %}